{#
/**
 * @file
 * Template file for field_slideshow
 *
 *
 */#}

{% 
  set classes = [
    'field-slideshow-' ~ slideshow_id,
    'effect-' ~ js_variables.fx,
    'timeout-' ~ js_variables.timeout,
    pager is defined and pager != '' ? 'with-pager',
    controls is defined ? 'with-controls'
  ]
%}
{% if controls_position is not defined %}
  {% set controls_position = "after" %}
{% endif %}

{% if pager_position is not defined %}
  {% set pager_position = "after" %}
{% endif %}

<div id="field-slideshow-{{ slideshow_id }}-wrapper" class="field-slideshow-wrapper">
  {% if controls_position == 'before' %}
    {{ controls }}
  {% endif %}
  {% if pager_position == 'before' %}
    {{ pager }}
  {% endif %}
  {% if breakpoints is defined and breakpoints.mapping is defined and breakpoints.mapping is not empty %}
    {% set style = 'height:' ~ slides_max_height ~ 'px' %}
  {% else %}
    {% set style = 'width:' ~ slides_max_width ~ 'px; height:' ~ slides_max_height ~ 'px' %}
  {% endif %}
  <div{{ attributes.addClass(classes).setAttribute('style', style) }}>
    {% for num,item in items %}
      {%
        set classes = [
          'field-slideshow-slide', 
          'field-slideshow-slide-' ~ (1+num)
        ]
      %}
      {% set style = (num) ? 'display:none' %}
      <div class="field-slideshow-slide field-slideshow-slide-{{1+num}} {{slide[num]['classes']}}" style="{{style}}">
        {{image[num]}}
        {% if item[num]['caption'] is defined and item[num]['caption'] != '' %}
          <div class="field-slideshow-caption">
            <span class="field-slideshow-caption-text">
              {{ link(item[num]['caption'], item[num]['caption_path']) }}
            </span>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if controls_position != "before" %}
    {{ controls }}
  {% endif %}
  {% if pager_position != "before" %}
    {{ pager }}
  {% endif %}
</div>