{#{{ attach_library('field_slideshow/field_slideshow.view') }}#}
{% 
  set classes = [
    'field-slideshow-' ~ slideshow_id,
    'effect-' ~ js_variables.fx,
    'timeout-' ~ js_variables.timeout,
    pager is defined and pager != '' ? 'with-pager',
    controls is defined and controls != '' ? 'with-controls'
  ]
%}
{% if controls_position is not defined %}
  {% set controls_position = "after" %}
{% endif %}

{% if pager_position is not defined %}
  {% set pager_position = "after" %}
{% endif %}

<div id="field-slideshow-{{ slideshow_id }}-wrapper" class="field-slideshow-wrapper">
  {% if controls_position == 'before' %}
    {{ controls }}
  {% endif %}
  {% if pager_position == 'before' %}
    {{ pager }}
  {% endif %}
  {% if breakpoints is defined and breakpoints.mapping is defined and breakpoints.mapping is not empty %}
    {% set style = 'height:100px' %}
  {% else %}
    {% set style = 'width:100%; height:100%' %}
  {% endif %}
  <div{{ attributes.addClass(classes).setAttribute('style', style) }}>
    {% for num,item in items %}
      {%
        set classes = [
          'field-slideshow-slide', 
          'field-slideshow-slide-' ~ (1+num)
        ]
      %}
      {% set style = (num) ? 'display:none' %}
      <div class="field-slideshow-slide field-slideshow-slide-{{1+num}} {{slide[num]['classes']}}" style="{{style}}">
        {{image[num]}}
      </div>
    {% endfor %}
  </div>
  {% if controls_position != "before" %}
    {{ controls }}
  {% endif %}
  {% if pager_position != "before" %}
    {{ pager }}
  {% endif %}
</div>